.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  max-width: 800px;
  margin: auto;
}

.search-bar {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.stop-list {
  list-style: none;
  padding: 0;
}

.stop-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.stop-item:hover {
  background-color: #f0f0f0;
}

.prediction-panel {
  margin-top: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fdfdfd;
}
